#map {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition: left 450ms cubic-bezier(0.23, 1, 0.32, 1)
}

.sdk-map {
    top:0;
    left:0;
    right:0;
    bottom:0;
    position: absolute;
}

.sdk-zoom-control {
     position: absolute;
     z-index: 3;
     top: 60px;
     left: 10px;
     height: 52px;
     width: 25px;
 }

.sdk-zoom-in{
    border-radius: 5px;
    color: #4498c0;
    font-weight: bold;
    background-color: white;
    outline: none;
    height: 25px;
    width: 25px;
    display: block;
    border:none;
    cursor: pointer;
}

.sdk-zoom-out{
    border-radius: 5px;
    color: #4498c0;
    font-weight: bold;
    background-color: white;
    text-align: center;
    outline: none;
    height: 25px;
    width: 25px;
    display: block;
    border:none;
    cursor: pointer;
    margin-top: 2px;
}

