.sdk-map {

}
.sdk-map > div > canvas {
    margin-top: -12px!important;
}

.sdk-zoom-control {
     position: absolute;
     z-index: 3;
     top: 95px;
     left: 10px;
     /*color: #66a3ff;*/
     /*background-color: white;*/
 }
/*.sdk-zoom-in{*/
    /*color: #4498c0;*/
    /*background-color: white;*/
    /*outline: none;*/
    /*height: 22px;*/
    /*width: 22px;*/
/*}*/

/*.sdk-zoom-out{*/
    /*color: #4498c0;*/
    /*background-color: white;*/
    /*text-align: center;*/
    /*outline: none;*/
    /*height: 22px;*/
    /*width: 22px;*/
/*}*/

/*.sdk-zoom-in i {*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
/*}*/

/*.sdk-zoom-in:hover {*/
    /*background-color: white;*/
/*}*/

/*.sdk-zoom-in:focus {*/
    /*background-color: white;*/
/*}*/